@page "/"
@using PanoramicData.Blazor;
@using PanoramicData.Blazor.Models
@using PanoramicData.NCalc101.Models

<PageTitle>NCalc 101</PageTitle>
<div class="row">
	<div class="col-12 d-none d-lg-block">
		<PDToolbar>
			<h3 style="white-space: nowrap"><i class="fa-solid fa-desktop" /> Workspace</h3>
			<PDToolbarTextbox Value="@WorkspaceService.Workspace.Name"
							  ValueChanged="NameChangedAsync"
							  Width="100%"
							  ShowClearButton="false"
							  />

			<PDToolbarButton Text=" Add Workspace"
							 IconCssClass="fa-solid fa-plus"
							 CssClass="btn btn-success"
							 ShiftRight="true"
							 Click="CreateWorkspaceAsync" />

			<PDToolbarButton Text=" Export Workspace"
							 IconCssClass="fa-solid fa-download"
							 CssClass="btn btn-info"
							 ShiftRight="true"
							 Click="DownloadWorkspaceAsync" />

			<PDToolbarButton Text=" Delete Workspace"
							 IsEnabled="@(WorkspaceService.Workspace.Name != "default")"
							 IconCssClass="fa-solid fa-trash"
							 ShiftRight="true"
							 CssClass="btn btn-danger"
							 Click="DeleteWorkspaceAsync" />
		</PDToolbar>
	</div>
	<div class="col-12 d-block d-lg-none">
		<PDToolbar>
			<h3><i class="fa-solid fa-desktop" /></h3>
			<PDToolbarTextbox Value="@WorkspaceService.Workspace.Name"
							  ValueChanged="NameChangedAsync"
							  Width="100%"
							  ShowClearButton="false" />

			<PDToolbarButton Text=""
							 IconCssClass="fa-solid fa-plus"
							 CssClass="btn btn-success"
							 ShiftRight="true"
							 Click="CreateWorkspaceAsync" />

			<PDToolbarButton Text=" Workspace"
							 IconCssClass="fa-solid fa-download"
							 CssClass="btn btn-info"
							 ShiftRight="true"
							 Click="DownloadWorkspaceAsync" />

			<PDToolbarButton Text=""
							 IsEnabled="@(WorkspaceService.Workspace.Name != "default")"
							 IconCssClass="fa-solid fa-trash"
							 CssClass="btn btn-danger"
							 ShiftRight="true"
							 Click="DeleteWorkspaceAsync" />
		</PDToolbar>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 mt-3">
		<h3><i class="fa-solid fa-keyboard" /> Input</h3>
		<div class="ncalc-input">
			<PDTextArea Value="@WorkspaceService.Workspace.Expression"
						Rows="10"
						CssClass="d-none d-lg-block"
						ValueChanged="OnExpressionChangedAsync" />
			<PDTextArea Value="@WorkspaceService.Workspace.Expression"
						Rows="5"
						CssClass="d-block d-lg-none"
						ValueChanged="OnExpressionChangedAsync" />
		</div>
	</div>
	<div class="col-lg-6 mt-3">
		@if (_exceptionMessage == string.Empty)
		{
			<h3><i class="fa-solid fa-check-circle" /> Output (@_resultType)</h3>
			<PDTextArea @bind-Value="_result"
						Rows="10"
						CssClass="result d-none d-lg-block"
						IsReadOnly="true" />
			<PDTextArea @bind-Value="_result"
						Rows="5"
						CssClass="result d-block d-lg-none"
						IsReadOnly="true" />
		}
		else
		{
			<h3><i class="fa-solid fa-warning" /> Error (@_exceptionType)</h3>
			<PDTextArea @bind-Value="_exceptionMessage"
						Rows="10"
						CssClass="result d-none d-lg-block"
						IsReadOnly="true" />
			<PDTextArea @bind-Value="_exceptionMessage"
						Rows="5"
						CssClass="result d-block d-lg-none"
						IsReadOnly="true" />
		}
	</div>
</div>
<div class="row mt-3">
	<div class="col-12 d-none d-lg-block">
		<PDToolbar>
			<h3 style="white-space: nowrap"><i class="fa-solid fa-list" /> Variables</h3>
			<PDToolbarDropdown Text=" Variable"
							   IconCssClass="fa fa-plus"
							   CssClass="btn btn-success"
							   IsEnabled="true"
							   Click="@(async x => await AddVariableAsync(x))"
							   ShiftRight="true"
							   Items="_addVariableMenuItems" />

			<PDToolbarButton Text=" Variable(s)"
							 IsEnabled="VariablesSelected"
							 IconCssClass="fa-solid fa-trash"
							 CssClass="btn btn-danger"
							 ShiftRight="true"
							 Click="DeleteRowAsync" />
		</PDToolbar>
	</div>
	<div class="col-12 d-block d-lg-none">
		<PDToolbar>
			<h3 style="white-space: nowrap;"><i class="fa-solid fa-list" /> Variables</h3>
			<PDToolbarDropdown Text=""
							   IconCssClass="fa fa-plus"
							   CssClass="btn btn-success"
							   IsEnabled="true"
							   Click="@(async x => await AddVariableAsync(x))"
							   ShiftRight="true"
							   Items="_addVariableMenuItems" />

			<PDToolbarButton Text=""
							 IsEnabled="VariablesSelected"
							 IconCssClass="fa-solid fa-trash"
							 CssClass="btn btn-danger"
							 ShiftRight="true"
							 Click="DeleteRowAsync" />
		</PDToolbar>
	</div>
</div>
<div class="row mt-3">
	<div class="col-12">
		<PDTable
			TItem="Variable"
			@ref = "_table"
			DataProvider="WorkspaceService"
			CssClass="variable-table"
			AllowEdit="true"
			AfterEditCommitted="OnVariableChangedAsync"
			DoubleClick="OnDoubleClickRowAsync"
			UserSelectable="true"
			KeyField="v => v.Id"
			SelectionMode="TableSelectionMode.Multiple"
			ExceptionHandler="TableExceptionHandler"
			SelectionChanged="VariableSelectionChanged"
		>
			<PDColumn TItem="Variable"
					  Id="Type"
					  Title="Type">
				<Template>
					<i class="@context.GetFontAwesome()" />
					@(new MarkupString(context.Type.ToString().Replace(".", "<wbr />.")))
				</Template>
			</PDColumn>
			<PDColumn TItem="Variable"
					  Id="Id"
					  Title="Id"
					  ShowInList="false"
					  Editable="false" 
					  Field="v => v.Id" />
			<PDColumn TItem="Variable"
					  Id="Name"
					  Title="Name"
					  Editable="true"
					  Field="v => v.Name" />
			<PDColumn TItem="Variable"
					  Id="Value"
					  Title="Value"
					  Editable="true"
					  Field="v => v.Value" />
		</PDTable>
	</div>
</div>